body {
   background-color: black;
}

main {
   text-align: left;
   color: white;
   margin: 0 10%;
}
main ul li {
   margin: 0;
   padding: 1em 0em 0em;
   list-style: none;
   font-size: 1.5em;
}
main ul li.sectionHeader {
   padding: 1em 0em 0em;
   font-size: 4em;
   font-variant: small-caps;
   text-decoration: underline;
}
main ul li a{
   color: white;
   text-decoration: none;
}
main ul li a:hover {
   color: #7fcdff;
   transition: .35s;
}